:root{
    --mainbg:#fff2e1;
  }
  
  .container{
    margin-top: -50px;
  }
  
  input:focus, button:focus {
    border: 1px solid var(--mainbg) !important;
    box-shadow: none !important;
  }

  .form-check-input:checked {
    /* background-color: var(--main-bg) !important; */
    /* border-color: var(--main-bg) !important; */
  }
  
  
  .card{
    margin-top: 5vh;
    width: 30vw;
  }
  .button{
    border-radius: 100px !important;
    width: 200px;
    background-color: #ed8803 !important;
    
  }
  .errmsg{
    color: red;
    font-size: small;
    /* visibility: hidden; */
  }
  .servererrmsg{
    visibility: hidden;
    padding: -10px;
    /* margin: -55px; */
    position: relative;
    /* bottom: .7vh; */
    top:4vh
  }
  .head{
    margin-top: 3vh;
    margin-bottom: -5vh;
  }
  .profile{
    position: relative;
    top: 10vh;
    left: 12.5vw;
    z-index: 2;
  }